{% extends "pbase.html" %}
{% load i18n %}

{% block main %}
    {% if validlink %}
       <form method="post" action=".">{% csrf_token %}
            <fieldset><span class="graytitle">Password Change</span>
                <ul class="pageitem">
                    {% if form.non_field_errors %}
                    <li class="textbox">{{ form.non_field_errors }}</li>
                    {% endif %}
                    {% if form.new_password1.errors %}
                    <li class="textbox">{{ form.new_password1.errors }}</li>
                    {% endif %}
                    <li class="smallfield">
                        <span class="name">{% trans "New Password1" %}</span>
                        <input name="new_password1" placeholder="Password" type="text" class="required" />
                    </li> 
                    {% if form.new_password2.errors %}
                    <li class="textbox">{{ form.new_password2.errors }}</li>
                    {% endif %}
                    <li class="smallfield">
                        <span class="name">{% trans "New Password2" %}</span>
                        <input name="new_password2" placeholder="Password" type="text" class="required" />
                    </li> 
                    <li class="button">
                        <input type="submit" name="{% trans 'Submit' %}" value="{% trans 'Submit' %}" />
                    </li>
                </ul>
            </fieldset>
        </form>
    {% else %}
    <span class="graytitle">Password Change</span>
    <ul class="pageitem">
        <li class="textbox">
        <p>{% trans "Password reset failed" %}</p>
        </li>
    </ul>
    {% endif %}
{% endblock %}
