{% extends "pbase.html" %}
{% load i18n %}

    {% block main %}
       <form method="post" action=".">{% csrf_token %}
            <fieldset><span class="graytitle"><h2>Password Change(doesn't work now)</h2></span>
                <ul class="pageitem">
                    {% if form.non_field_errors %}
                    <li class="textbox">{{ form.non_field_errors }}</li>
                    {% endif %}
                    {% if form.email.errors %}
                    <li class="textbox">{{ form.email.errors }}</li>
                    {% endif %}
                    <li class="smallfield">
                        <span class="name">{% trans "Email address" %}</span>
                        <input name="email" placeholder="Email address" type="text" class="required" maxlength="75" />
                    </li> 
                    <li class="button">
                        <input type="submit" name="{% trans 'Submit' %}" value="{% trans 'Submit' %}" />
                    </li>
                </ul>

            </fieldset>
        </form>
    {% endblock %}
