{% extends "images/pbase.html" %}
{% block resource %}
{% endblock %}

{% block main %}
    <div id="container">
        <div class="upper-banner"> 
            <a href="/">
                <img src="/static/logo-large.gif" alt="another image sharer">
            </a>
        </div>
        <div style="clear: both;"></div>
        <div class="content" style="float:left; height:{{ height }}px; width:550px;">
            <a href="{{ image.imageurl }}" style="text-align:center;display:block;">
                <img src="{{ image.imageurl_original }}" alt="Loading..." title="{{ image.title }}" width="500px"/>
            </a>
        </div>
        <div class="sidebar" style="float:left; height:500px; width:400px;">
            <div class="side-album">
                <h2>Albums</h2>
                {% for aurl,turl,title in urls %}
                    &nbsp;
                    <a href="{{ aurl }}">
                        <img src="{{ turl }}" alt="" title={{ title }} />
                    </a>
                    &nbsp;
                {% endfor %}
            </div>
            <p>
            <div class="button share">FB,RR,KX<a href="#">Share</a></div>
            <div class="side-ad">
                <!--<h2>Ads</h2>-->
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}
