{% extends "images/pbase.html" %}

{% block resource %}
    <link href="/static/fileuploader/fileuploader.css" rel="stylesheet" type="text/css"> 
    <script src="/static/fileuploader/fileuploader.js" type="text/javascript"></script>
{% endblock %}

{% block main %}
    <div class="content">
        <div class="upper-banner">
             <a href="/"><img src="/static/logo-large.gif" alt="ximg, another image sharer" /></a>
        </div>
        <div class="container">
            <div class="gallery panel">
                <h2>Gallery</h2>
                {% for img in imagelist %}
                    <a href="{{ img.imageurl }}">
                        <img border="0" alt="" title="{{ img.title }}" src="{{ img.imageurl_medium }}" width="100px"/>
                    </a>
                {% endfor %}
            </div>
            <div class="upload panel">
                <h2>Upload Images</h2>
                <div class="qq-uploader">
                    <div class="qq-upload-button" id="webupload">
                        From Raw Urls
                    </div>
                    <ul class="web-upload-list"></ul>
                </div>
                <div id="dialog-webupload" title="Enter URLS of images, one per line.">
                    <textarea name="urls" rows="10" style="width:100%"></textarea>
                </div>
                <div id="dialog-geturls" title="Share the images.">
                    <div id="radio-codetype">
                        <input type="radio" id="radio1" name="radio" /><label for="radio1">Links</label>
                        <input type="radio" id="radio2" name="radio" /><label for="radio2">Direct Links</label>
                        <input type="radio" id="radio3" name="radio" /><label for="radio3">HTML</label>
                        <input type="radio" id="radio4" name="radio" /><label for="radio4">BBS</label>
                    </div>
                    <p></p>
                    <textarea style="width:100%;">This dialog is for share</textarea>
                </div>
                <div id="file-uploader">
                    <noscript>
                        <p>Please enable JavaScript to use file uploader.</p>
                        <!-- or put a simple form for upload here -->
                    </noscript>
                </div>
                <div id="options">
                    <input type="checkbox" name="select all" />
                    <button class="options" id="makealbum">Make Album</button>
                    <button class="options" id="geturls">Share</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/ximg.uploader.js" type="text/javascript"></script>

{% endblock %}
