{% extends "images/pbase.html" %}

{% block resource %}
    <link href="/static/fileuploader/fileuploader.css" rel="stylesheet" type="text/css"> 
    <script src="/static/fileuploader/fileuploader.js" type="text/javascript"></script>
{% endblock %}

{% block main %}
    <div class="content">
        <div class="upper-banner">
             <a href="/"><img src="/static/logo-large.gif" alt="ximg, another image sharer" /></a>
        </div>
        <div class="container">
            <div class="gallery panel">
                <h2>Images</h2>
                {% for img in images %}
                    <a href="{{ img.imageurl }}">
                        <img border="0" alt="{{ img.title }}" src="{{ img.imageurl_medium }}" title="{{ img.title }}" width="100px"/>
                    </a>
                {% endfor %}
            </div>
            <div class="upload panel">
                <h2>Upload Images</h2>
                <div class="qq-uploader">
                    <div class="qq-upload-button" id="webupload">
                        From Raw Urls
                    </div>
                    <ul class="web-upload-list"></ul>
                </div>
                <div id="dialog-webupload" title="Enter URLS of images, one per line.">
                    <textarea name="urls" rows="10" style="width:100%"></textarea>
                </div>
                <div id="dialog-geturls" title="Share the images.">
                    <div id="radio-codetype">
                        <input type="radio" id="radio1" name="radio" /><label for="radio1">Links</label>
                        <input type="radio" id="radio2" name="radio" /><label for="radio2">Direct Links</label>
                        <input type="radio" id="radio3" name="radio" /><label for="radio3">HTML</label>
                        <input type="radio" id="radio4" name="radio" /><label for="radio4">BBS</label>
                    </div>
                    <p></p>
                    <textarea style="width:100%;">This dialog is for share</textarea>
                </div>
                <div id="file-uploader">
                    <noscript>
                        <p>Please enable JavaScript to use file uploader.</p>
                        <!-- or put a simple form for upload here -->
                    </noscript>
                </div>
                <div id="options">
                    <input type="checkbox" name="select all" />
                    <button class="options" id="makealbum">Make Album</button>
                    <button class="options" id="geturls">Share</button>
                </div>
            </div>
            <script>        
                // options
                $(".options").button();
                $("#radio-codetype").buttonset();
                $("#options").hide();

                // check all scripts
                $("[name='select all']").click(function(){
                    $(".upload").find(":checkbox").attr("checked",this.checked);
                });

                // web upload
                $("#webupload").click(function(){
                    $('#dialog-webupload').dialog('open');
                });

                // make album
                $("#makealbum").click(function(){
                    var ids = [];
                    $(".upload li.qq-upload-success").each(function(index){
                        if( $(this).children(":first-child").attr("checked") ){
                            ids.push( $(this).find(".qq-upload-file a").attr("uid") );
                        }
                    });
                    // make api call and redirect to album page
                    $.post("/api/album/create",JSON.stringify(ids),function(data){
                        if (data["status"]=="ok"){
                            window.location=data["result"]["link"];
                        }
                    });
                });

                // get urls
                $("#geturls").click(function(){
                    // initialize radio selection
                    $("#radio-codetype [name='radio']").attr("checked", false);
                    $("#radio-codetype #radio1").attr("checked",true);
                    $("#radio-codetype").buttonset("refresh");
                    $("#radio-codetype #radio1").trigger("change");
                    
                    // open dialog 
                    $("#dialog-geturls").dialog("open");
                });
                $("#radio-codetype input[name='radio']").change(function(){
                    // update sharing code by codetype
                    if($(this).is(":checked")){
                        var links = "";
                        var rows = 0;
                        var choice = $(this).attr("id");
                        $(".upload li.qq-upload-success").each(function(index){
                            if( $(this).children(":first-child").attr("checked") ){
                                rows++;
                                alink = $(this).find(".qq-upload-file a");
                                switch( choice ){
                                    case "radio1":
                                        links += alink.attr("href") + "\n";
                                        break;
                                    case "radio2":
                                        links += alink.attr("href") + "." + alink.attr("ext") + "\n";
                                        break;
                                    case "radio3":
                                        links += "<img src='" + 
                                            alink.attr("href") + "." + alink.attr("ext") + "'/>\n" 
                                        break;
                                    case "radio4":
                                        links += "<img>" + 
                                            alink.attr("href") + "." + alink.attr("ext") +
                                            "</img>\n";
                                        break;
                                }
                            }
                        });
                        var txtarea = $("#dialog-geturls textarea");
                        txtarea.html(links);
                        txtarea.attr("rows",rows);
                        
                        // zclip for clipboard copy) 
                        $("button:contains('Copy')").zclip({
                            path:'/static/js/ZeroClipboard.swf',
                            copy:$("#dialog-geturls").children("textarea").text(),
                            afterCopy:function(){},
                        });
                    }
                });

                // geturls dialog
                $(function() {
                    $("#dialog-geturls").dialog({
                        autoOpen:false,
                        width:320,
                        buttons: [
                                {text: "Copy"},
                                {text: "Close",
                                click: function() { 
                                    $(this).dialog("close");
                                }}
                        ],
                    });
                });

                // webupload dialogo
                function formatsize(bytes){
                    var i = -1;
                    do {
                        bytes = bytes / 1024;
                        i++;
                    } while (bytes > 99);
                    return Math.max(bytes, 0.1).toFixed(1) + ['kB', 'MB', 'GB', 'TB', 'PB', 'EB'][i];
                }
                function webUploader(){
                    tempitem = '<li>' +
                        '<input type="checkbox"/>' +
                        '<span class="qq-upload-file"></span>' +
                        '<span class="qq-upload-spinner"></span>' +
                        '<span class="qq-upload-size"></span>' +
                        '<span class="qq-upload-failed-text">Failed</span>' + '</li>'
                    var urls = $(this).find("textarea").val().split("\n");
                    $(this).dialog("close");
                    $.each(urls, function(index,url){
                        var slashsplit =  url.split('/');
                        var filename = slashsplit[slashsplit.length-1];
                        $(".web-upload-list").append(tempitem);
                        var last = $(".web-upload-list li").last();
                        last.children(".qq-upload-file").html(filename);
                        
                        $.ajax({
                            url:"/api/image/weblink",
                            type:"POST",
                            async:false,
                            cache:false,
                            timeout:30000,
                            data:JSON.stringify([url]),
                            success: function(data){
                                last.children(".qq-upload-spinner").remove();
                                if (data["status"]=="ok" && data["result"][0]["success"]){
                                    var uid = data["result"][0]["uid"];
                                    var ext = data["result"][0]["ext"];
                                    var link = data["result"][0]["link"];
                                    var tlink = data["result"][0]["thumblink"];
                                    var size = formatsize(data["result"][0]["size"]);
                                    last.addClass("qq-upload-success");
                                    last.children(".qq-upload-file").html('<a uid="'+uid+'" ext="'+ext+'" href="'+link+'"><img src="'+tlink+'"/></a>');
                                    last.children(".qq-upload-size").html(size);
                                }else{
                                    last.addClass("qq-upload-fail");
                                    last.children().first().remove();
                                }
                            },
                            error: function(data){
                                last.children(".qq-upload-spinner").remove();
                                last.addClass("qq-upload-fail");
                                last.children().first().remove();
                            },
                        });
                    });
                    $("#options").show();
                    $(".upload").find(":checkbox").attr("checked",true);
                }
                $(function() {
                    $("#dialog-webupload").dialog({
                        autoOpen:false,
                        width:500,
                        buttons: [
                            {
                                text: "Upload",
                                click: webUploader 
                            },
                            {
                                text: "Cancel",
                                click: function() { $(this).dialog("close"); }
                            },
                        ]
                    });
                });

                // file uploader
                function createUploader(){            
                    var uploader = new qq.FileUploader({
                        element: document.getElementById('file-uploader'),
                        action: "/api/image/upload",
                        onComplete: function(id,fileName,responoseJSON){
                            $("#options").show();
                            $(".upload").find(":checkbox").attr("checked",true);
                        },
                        sizeLimit: 10485760,
                        debug: true,
                    });           
                 }
        
                // in your app create uploader as soon as the DOM is ready
                // don't wait for the window to load  
                window.onload = createUploader;     
            </script>
        </div>
    </div>

{% endblock %}
